body {
    background-color: rgb(236, 230, 243);
    width: 50%;
    margin: auto;
}

.header {
    text-align: center;
    margin: 70px auto;
    padding: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    border-bottom: 1px solid rgb(19, 12, 39);
}

.field {
    text-align: center;
    margin:auto;
}

.data {
    margin:30px 0 40px 0;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
}

.label_height, .label_weight, .label_age, .label_gender {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

.label_and_input_height, .label_and_input_weight, {
    margin-bottom: 20px;
}

.radio_man {
    margin-bottom: 25px;
}
.radio_woman, {
    margin-bottom: 15px;
}

.button {
    text-align: center;
    margin: 50px;
  
}

button {
    display: inline-block;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin: 0 0 50px 0;
    text-decoration: none;
    background: #1a0d2b;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;

}

button:hover {
    background: #741d77;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(1.2);
}

.result_text {
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin: 40px;
}

.result {
    margin:auto;
    text-align:center;
    width:fit-content;
    height:70px;
    padding: 3%;
    border-radius: 100%;
    color: rgb(21, 7, 36);
    border: 2px solid rgb(37, 4, 41);
    display:none;
    font-size: 30px;
    font-family: Helvetica;
}

.result2 {
    margin:auto;
    text-align:center;
    width:fit-content;
    height:70px;
    padding: 3%;
    border-radius: 100%;
    color: rgb(21, 7, 36);
    border: 2px solid rgb(37, 4, 41);
    display:none;
    font-size: 30px;
    font-family: Helvetica;
}

.js-bmi, .js-cpm {
    margin:18px 0 0 0;
}

input {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 50px;
}

.seen {
    display:block;
}

@media (max-width:450px) {
    body {
        width: 70%;
    }
    .header {
        font-size: 25px;
    }

    .result {
        padding:20px;
    }
}

.field_CPM {
   text-align: left;
}

.js-form2 {
    display:flex;
    flex-direction: column;
    align-items: center;
}

